{% extends 'base.html' %}
{% block title %}chitrakathe4u members{% endblock %}
{% block content %}
<section id="our-team" class="bg-gray-100 py-32">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-center mb-8 text-primary">Our Team</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
            {% for member in members %}
            <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
                <a href="{% url 'team_profile' member.id %}">
                    <div class="w-full h-0 pb-[100%] relative mb-4 overflow-hidden rounded-full">
                        <img src="{{member.profile_image.url}}" alt="{{member.first_name}}'s profile image"
                            class="absolute inset-0 w-full h-full object-cover">
                    </div>
                    <h3 class="text-xl font-semibold mb-2">{{member.first_name}} {{member.last_name}}</h3>
                    <p class="text-gray-700">Role: {{member.role.type}}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}