{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% include 'tailwind.html' %}
  </head>
  <body class="bg-body-color dark:bg-dark-body-color">
    <nav
      class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
          <div class="flex items-center justify-start">
            <button
              data-drawer-target="logo-sidebar"
              data-drawer-toggle="logo-sidebar"
              aria-controls="logo-sidebar"
              type="button"
              class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            >
              <span class="sr-only">Open sidebar</span>
              <svg
                class="w-6 h-6"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                  d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
                ></path>
              </svg>
            </button>
            <a href="/" class="flex ml-2 md:mr-24">
              <img
                class="w-8 h-8 rounded-full"
                src="{% static 'images/ckb.jpg' %}"
              />
            </a>
          </div>
          <div class="flex items-center">
            <div class="flex items-center ml-3">
              <div class="flex items-center ml-3">
                <a
                  href="{% url 'add_members' %}"
                  class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                >
                  <span class="sr-only">Add User</span>
                  <img
                    class="w-8 h-8 rounded-full"
                    src="{% static 'images/adduser.png' %}"
                    alt="Add Member"
                  />
                </a>
              </div>
              <div class="flex items-center ml-3">
                <a
                href="{% url 'add_post' %}"
                  class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                >
                  <span class="sr-only">Add Post</span>
                  <img
                    class="w-8 h-8 rounded-full"
                    src="{% static 'images/plus.png' %}"
                    alt="Add Post"
                  />
                </a>
              </div>

              <div class="flex items-center ml-3">
                <a
                href="{% url 'logout' %}"
                  class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                >
                  <span class="sr-only">Logout</span>
                  <img
                    class="w-8 h-8 rounded-full"
                    src="{% static 'images/exit.png' %}"
                    alt="logout"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <aside
      id="logo-sidebar"
      class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
      aria-label="Sidebar"
    >
      <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
          <li>
            <a
            href="{% url 'admin_members' %}"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
              data-tab="inbox"
            >
              <img
                class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white rounded-full"
                src="{% static 'images/team.png' %}"
                alt=""
              />
              <span class="flex-1 ml-3 whitespace-nowrap">Members</span>
            </a>
          </li>
          <li>
            <a
              href="{% url 'admin_posts' %}"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
            >
              <img
                class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                src="{% static 'images/edit.png' %}"
                alt="edit"
              />
              <span class="flex-1 ml-3 whitespace-nowrap">Posts</span>
            </a>
          </li>
          <!-- <li>
              <a href="" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                 <img class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white rounded-full" src="{% static 'images/dept.png' %}" alt="edit">
                 <span class="flex-1 ml-3 whitespace-nowrap">Departments</span>
              </a>
           </li> -->
        </ul>
      </div>
    </aside>
    <div class="m-2 w-100 h-screen sm:m-16 sm:ml-72">
      <div class="pt-4">
        <div class="overflow-x-auto shadow-md sm:rounded-lg pt-16">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  </body>

  <script>
    // Get the aside element
    const asideElement = document.getElementById("logo-sidebar");

    // Get the button that toggles the aside
    const toggleButton = document.querySelector("[data-drawer-toggle]");
    // Add a click event listener to the toggle button
    toggleButton.addEventListener("click", function () {
      asideElement.classList.toggle("-translate-x-full");
    });
  </script>
  <script>
    function toggleModal(applicationId, statusBtn) {
      console.log(
        "Toggle modal called with applicationId:",
        applicationId,
        "and statusBtn:",
        statusBtn
      );
      const modal = document.getElementById(
        "modal_" + statusBtn + applicationId
      );
      modal.classList.toggle("hidden");
    }
  </script>
</html>
